<a href="https://colab.research.google.com/github/MadhurimaPaul-87/Advanced-Python-Programming/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:


*   List popular languages for Data Science
*   List commonly used libraries used by Data Scientists
*   List commonly used Data Science Tools

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL
4.   JAVA
5.   Swift

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   Numpy
3.   Matplotlib
4.   Scipy
5.   PyTorch

Data Science Tools:


1.   Apache Spark
2.   TensorFlow
3.   Scikit-learn

### Below are a few examples of evaluating arithmetic expressions in Python


1.   2 + 3 * 4
2.   10 + 3 * 4

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Madhurima Paul