# **Python Basic**

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

**Why Python?**

* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

## **Python Syntax**

**Python Indentation**:
* Indentation refers to the spaces at the beginning of a code line.
* Python uses indentation to indicate a block of code.
* The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.
* You have to use the same number of spaces in the same block of code, otherwise Python will give you an error

## **Comments**

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment.

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!

**Multiline Comments**

To add a multiline comment you could insert a # for each line

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it.

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

**Python Variables**

Variables are containers for storing data values.A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
print(z)

3.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes.

In [ ]:
x = "John"
# is the same as
x = 'John'

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

**Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

**Rules for Python variables:**

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

**Python Keywords :**

* and	- A logical operator
* as -	To create an alias
* assert -	For debugging
* break	- To break out of a loop
* class	- To define a class
* continue - To continue to the next iteration of a loop
* def -	To define a function
* del	- To delete an object
* elif - Used in conditional statements, same as else if
* else	- Used in conditional statements
* except	- Used with exceptions, what to do when an exception occurs
* False	- Boolean value, result of comparison operations
* finally -	Used with exceptions, a block of code that will be executed no matter if there is an exception or not
* for	- To create a for loop
* from	- To import specific parts of a module
* global	- To declare a global variable
* if -	To make a conditional statement
* import	- To import a module
* in	- To check if a value is present in a list, tuple, etc.
* is -	To test if two variables are equal
* lambda	- To create an anonymous function
* None -	Represents a null value
* nonlocal	- To declare a non-local variable
* not	- A logical operator
* or	- A logical operator
* pass	- A null statement, a statement that will do nothing
* raise	- To raise an exception
* return -	To exit a function and return a value
* True	- Boolean value, result of comparison operations
* try	- To make a try...except statement
* while	- To create a while loop
* with	- Used to simplify exception handling
* yield	- To end a function, returns a generator

**Legal variable names:**

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

**Multi Words Variable Names:**

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

* **Camel Case**: Each word, except the first, starts with a capital letter.

In [ ]:
myVariableName = "John"

* **Pascal Case:** Each word starts with a capital letter.

In [ ]:
MyVariableName = "John"

* **Snake Case**:Each word is separated by an underscore character.

In [ ]:
my_variable_name = "John"

**Many Values to Multiple Variables**-
Python allows you to assign values to multiple variables in one line.

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**One Value to Multiple Variables** -
You can assign the same value to multiple variables in one line.

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpack a Collection**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called **unpacking**.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Output Variables**

In the print() function, you output multiple variables, separated by a comma.

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the **+** operator to output multiple variables

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Notice the **space character** after "Python " and "is ", without them the result would be "Pythonisawesome".

In the print() function, when you try to combine a string and a number with the **+** operator, Python will give an error.

**Global Variables**

Variables that are created outside of a function are known as global variables.
Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# **Python Data Types**

**Built-in Data Types**

**Text Type**:	str

**Numeric Types**:	int, float, complex

**Sequence Types**:	list, tuple, range

**Mapping Type**:	dict

**Set Types**:	set, frozenset

**Boolean Type**:	bool

**Binary Types**:	bytes, bytearray, memoryview

**None Type**:	NoneType

**Python Numbers**

There are three numeric types in Python:

* int
* float
* complex

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

**Type Conversion**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Random Number**

Python has a built-in module called **random** that can be used to make random numbers.

In [ ]:
import random

print(random.randrange(1, 10))

9

**Strings are Arrays**

Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a = "Hello, World!"
print(a[1])

e

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**String Length**

In [ ]:
a = "Hello, World!"
print(len(a))

13

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword **in**.

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

**Check if NOT**

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.